 body {
            font-family: sans-serif;
            display: flex;
            justify-content: left;
            padding: 20px;
        }

        .container {
            padding: 20px 40px;
            border-radius: 5px;
            width: 500px;
        }

        .controls {
            display: flex;
            align-items: center;
            gap: 15px;
            padding-bottom: 20px;
            border-bottom: 1px solid grey;
            margin-bottom: 20px;
        }

        .controls select {
            padding: 5px;
            font-size: 16px;
        }

        .btn {
            padding: 5px 15px;
            border: 1px solid grey;
            border-radius: 3px;
            cursor: pointer;
            font-size: 14px;
        }

        .btn:hover {
            background-color:darkgray;
        }

        .btn-save {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            font-size: 16px;
        }

        .topic-container {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
        }

        .topic-container input {
            flex-grow: 1;
            padding: 5px;
            border: 1px solid  grey;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            text-align: left;
            padding-bottom: 10px;
            font-weight: normal;
            font-size: 18px;
        }

        td {
            padding: 10px 0;
            border-top: 1px dotted  grey;
        }

        td:last-child {
            border-bottom: 1px dotted  grey;
        }
        
        tr:last-child td {
            border-bottom: 1px dotted  grey;
        }

        th:last-child, td:last-child {
            text-align: center; 
            width: 100px;
        }
        
        .status-text {
            font-size: 16px;
        }

        .hidden {
            display: none;
        }