body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content:left;
padding: 20px;
}

.container {
    width: 600px;
    padding: 20px;
    border-radius: 5px;
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    gap: 15px;
    align-items: center;
}


textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid grey;
    font-family: inherit;
    font-size: 14px;
    resize: vertical; 
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
    cursor: pointer;
}

.result-section {
    margin-top: 20px;
    padding-top: 10px;
}
.output-box {
    min-height: 50px;
    padding: 10px;
    border: 1px solid black;
    white-space: pre-wrap; 
}